entra-entitlement-management/examples/authentication/passkey-rollout/passkey-rollout-la.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Create_TAP": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://graph.microsoft.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "body": {
                                "isUsableOnce": false,
                                "lifetimeInMinutes": 60
                            },
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "method": "POST",
                            "uri": "https://graph.microsoft.com/v1.0/users/@{body('Get_requestor_information_from_EM')?['ObjectId']}/authentication/temporaryAccessPassMethods"
                        },
                        "runAfter": {
                            "Get_requestor_information_from_EM": [
                                "Succeeded"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "Http"
                    },
                    "Create_a_chat": {
                        "inputs": {
                            "body": {
                                "members": "@body('Get_requestor_information_from_EM')?['ObjectId']",
                                "topic": "Temporary password"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['teams-1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/beta/chats"
                        },
                        "runAfter": {
                            "Parse_TAP_Response": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Get_requestor_information_from_EM": {
                        "inputs": {
                            "content": "@triggerBody()?['Requestor']",
                            "schema": {
                                "properties": {
                                    "AltSecId": {},
                                    "CleanupScheduledDateTime": {},
                                    "ConnectedOrganization": {},
                                    "ConnectedOrganizationId": {},
                                    "CreatedDateTime": {},
                                    "DisplayName": {
                                        "type": "string"
                                    },
                                    "Email": {
                                        "type": "string"
                                    },
                                    "Id": {
                                        "type": "string"
                                    },
                                    "ObjectId": {
                                        "type": "string"
                                    },
                                    "OnPremisesSecurityIdentifier": {},
                                    "PrincipalName": {
                                        "type": "string"
                                    },
                                    "SubjectLifecycle": {
                                        "type": "string"
                                    },
                                    "SubjectType": {
                                        "type": "string"
                                    },
                                    "Tenant": {},
                                    "Type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "ParseJson"
                    },
                    "Parse_TAP_Response": {
                        "inputs": {
                            "content": "@body('Create_TAP')",
                            "schema": {
                                "properties": {
                                    "@@odata.type": {
                                        "type": "string"
                                    },
                                    "createdDateTime": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "string"
                                    },
                                    "isUsable": {
                                        "type": "boolean"
                                    },
                                    "isUsableOnce": {
                                        "type": "boolean"
                                    },
                                    "lifetimeInMinutes": {
                                        "type": "integer"
                                    },
                                    "methodUsabilityReason": {
                                        "type": "string"
                                    },
                                    "startDateTime": {
                                        "type": "string"
                                    },
                                    "temporaryAccessPass": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Create_TAP": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Send_chat_as_user": {
                        "inputs": {
                            "body": {
                                "messageBody": "<p class=\"editor-paragraph\">Hello @{body('Get_requestor_information_from_EM')?['DisplayName']},<br><br>Please use the following temporary password to log into the Microsoft Authenticator app on your phone.<br><br>@{body('Parse_TAP_Response')?['temporaryAccessPass']}<br><br>Please note this is only valid for 1 hour and should not be shared with anyone.</p>",
                                "recipient": "@body('Create_a_chat')?['id']"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['teams-1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('User')}/location/@{encodeURIComponent('Group chat')}"
                        },
                        "runAfter": {
                            "Create_a_chat": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Send_email": {
                        "inputs": {
                            "body": {
                                "content": {
                                    "html": "<p class=\"editor-paragraph\">Hello @{body('Get_requestor_information_from_EM')?['DisplayName']},</p><br><p class=\"editor-paragraph\">Please use the following temporary password to log into the Microsoft Authenticator app on your phone.</p><br><p class=\"editor-paragraph\">@{body('Parse_TAP_Response')?['temporaryAccessPass']}</p><br><p class=\"editor-paragraph\">Please note this is only valid for 1 hour and should not be shared with anyone.</p>",
                                    "subject": "Your temporary password is ready!"
                                },
                                "importance": "Normal",
                                "recipients": {
                                    "to": [
                                        {
                                            "address": "@body('Get_requestor_information_from_EM')?['Email']"
                                        }
                                    ]
                                },
                                "senderAddress": "DoNotReply@sharemylabs.com",
                                "userEngagementTrackingDisabled": true
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['acsemail-1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/emails:sendGAVersion",
                            "queries": {
                                "api-version": "2023-03-31"
                            }
                        },
                        "runAfter": {
                            "Parse_TAP_Response": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "else": {
                    "actions": {}
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@{triggerBody()?['AccessPackageCatalog']?['Id']}",
                                "11499281-a548-4e5f-989b-b89348e3250e"
                            ]
                        }
                    ]
                },
                "runAfter": {},
                "type": "If"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "AccessPackage": {
                                "properties": {
                                    "Description": {
                                        "description": "AccessPackage-Description",
                                        "type": "string"
                                    },
                                    "DisplayName": {
                                        "description": "AccessPackage-DisplayName",
                                        "type": "string"
                                    },
                                    "Id": {
                                        "description": "AccessPackage-Id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "AccessPackageAssignmentRequestId": {
                                "type": "string"
                            },
                            "AccessPackageCatalog": {
                                "properties": {
                                    "Description": {
                                        "description": "AccessPackageCatalog-Description",
                                        "type": "string"
                                    },
                                    "DisplayName": {
                                        "description": "AccessPackageCatalog-DisplayName",
                                        "type": "string"
                                    },
                                    "Id": {
                                        "description": "AccessPackageCatalog-Id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "Answers": {
                                "type": "array"
                            },
                            "Assignment": {
                                "properties": {
                                    "AssignmentPolicy": {
                                        "properties": {
                                            "DisplayName": {
                                                "description": "AssignmentPolicy-DisplayName",
                                                "type": "string"
                                            },
                                            "Id": {
                                                "description": "AssignmentPolicy-Id",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Id": {
                                        "description": "Assignment-Id",
                                        "type": "string"
                                    },
                                    "State": {
                                        "description": "Assignment-State",
                                        "type": "string"
                                    },
                                    "Status": {
                                        "description": "Assignment-Status",
                                        "type": "string"
                                    },
                                    "Target": {
                                        "properties": {
                                            "ConnectedOrganization": {
                                                "properties": {
                                                    "Description": {
                                                        "description": "Assignment-Target-ConnectedOrganization-Description",
                                                        "type": "string"
                                                    },
                                                    "DisplayName": {
                                                        "description": "Assignment-Target-ConnectedOrganization-DisplayName",
                                                        "type": "string"
                                                    },
                                                    "Id": {
                                                        "description": "Assignment-Target-ConnectedOrganization-Id",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "DisplayName": {
                                                "description": "Assignment-Target-DisplayName",
                                                "type": "string"
                                            },
                                            "Id": {
                                                "description": "Assignment-Target-Id",
                                                "type": "string"
                                            },
                                            "ObjectId": {
                                                "description": "Assignment-Target-ObjectId",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "CallbackConfiguration": {
                                "properties": {
                                    "DurationBeforeTimeout": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "CallbackUriPath": {
                                "type": "string"
                            },
                            "CustomExtensionStageInstanceId": {
                                "type": "string"
                            },
                            "RequestType": {
                                "type": "string"
                            },
                            "Requestor": {
                                "properties": {
                                    "DisplayName": {
                                        "description": "Requestor-DisplayName",
                                        "type": "string"
                                    },
                                    "Id": {
                                        "description": "Requestor-Id",
                                        "type": "string"
                                    },
                                    "ObjectId": {
                                        "description": "Requestor-ObjectId",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "Stage": {
                                "type": "string"
                            },
                            "State": {
                                "type": "string"
                            },
                            "Status": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "operationOptions": "IncludeAuthorizationHeadersInOutputs",
                "type": "Request"
            }
        }
    },
    "parameters": {
    }
}
